.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.contact-data-company {
  font-size: 40px;
  color: #000;
  font-family: "iceland";
  font-weight: 600;
}
