.container-createblog {
  display: flex;
  flex-direction: column;
}
.create-blog-title {
  margin: 20px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
}
.createblog-form {
  margin-left: 20px;
}
