@import url("https://fonts.googleapis.com/css?family=Montserrat");
.login-container {
  margin: 0;
  padding: 50px;
  background: linear-gradient(#f0f0f0, #7e8081);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content {
  background: #233142;
  font-family: "Montserrat";
  border-radius: 15px;
  backdrop-filter: blur(1rem);
  box-shadow: 0px 0 17px -7px #e6f7ff;
  min-height: 80vh;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .left-content {
    margin-top: 100px;
  }
  .right-content {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1169px) {
  .left-content {
    margin: 0;
  }
  .login-content {
    margin-left: 0;
    margin-right: 0;
  }
  .login-subtitle2 {
    margin-bottom: 50px;
  }
}
.left-content {
  background-color: #455d7a;
  margin: auto;
  max-width: 500px;
  min-width: 300px;
  border-radius: 20px;
}
.image-login {
  max-width: 500px;
  min-width: 300px;
}
.right-content {
  padding-left: 40px;
  padding-right: 60px;
}
.login-title {
  font-family: "Iceland";
  font-size: 45px;
  font-weight: 500;
  color: #e6f7ff;
  margin-bottom: 0;
}
.login-line {
  margin-top: 0;
  margin-left: 0;
  background: #e6f7ff;
  height: 4px;
  width: 40%;
}
.login-subtitle {
  font-weight: 400;
  color: #e6f7ff;
}
.login-subtitle2 {
  margin-top: 25px;
  text-align: center;
  font-weight: 400;
  color: #e6f7ff;
}
.login-form {
  margin-top: 20px;
}
