.App {
  text-align: center;  
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pokeball-rotate {
  max-width: 80px;
  display: block;
  margin-bottom: -40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  animation: App-logo-spin infinite 3s linear;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.pokeball-shake {
  height: 40px;
  width: 40px;
  background-size: cover;
  animation: Pokeball-shake infinite 1s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes Pokeball-shake {
  10%,
  90% {
    transform: rotate(-25deg);
  }
  20%,
  80% {
    transform: rotate(-15deg);
  }
  30%,
  70% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #BDC0DB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F0F3F5;
}

.App-link {
  color: #F7BA15;
}

a {
  color: #F7BA15;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.type-normal {
  background-color: #aa9;
}

.type-fire {
  background-color: #f42
}

.type-water {
  background-color: #39f
}

.type-electric {
  background-color: #fc3
}

.type-grass {
  background-color: #7c5
}

.type-ice {
  background-color: #6cf
}

.type-fighting {
  background-color: #b54
}

.type-poison {
  background-color: #a59
}

.type-ground {
  background-color: #db5
}

.type-flying {
  background-color: #89f
}

.type-psychic {
  background-color: #f59
}

.type-bug {
  background-color: #ab2
}

.type-rock {
  background-color: #ba6
}

.type-ghost {
  background-color: #66b
}

.type-dragon {
  background-color: #76e
}

.type-dark {
  background-color: #754
}

.type-steel {
  background-color: #aab
}

.type-fairy {
  background-color: #e9e
}